<footer class="footer">
  <div class="footer__main __container">
    {{> logo }}
    <div class="navigation">
      <ul class="list-reset">
        <li><a href="#">Ссылка в подвале 1</a></li>
        <li><a href="#">Ссылка в подвале 2</a></li>
        <li><a href="#">Ссылка в подвале 3</a></li>
        <li><a href="#">Ссылка в подвале 4</a></li>
        <li><a href="#">Ссылка в подвале 5</a></li>
      </ul>
    </div>
  </div>
</footer>