<label class="switcher">
  <span class="switcher__text text-xl font-700">{{text}}</span>
  <span class="switcher__icon-wrapper">
    <input type="checkbox" {{set-checked checked}}>
    <span class="switcher__icon"></span>
  </span>
</label>