<section class="section-main">
  <div class="__container">
    <div class="image"></div>
    <div class="heading-lg font-tenor-sans">asdsadasd</div>
    <button class="button">
      <span>Кнопка #</span>
    </button>
  </div>
</section>