@use "sass:map";

@import "variants/light";
@import "variants/dark";
@import "variants/accent";
@import "variants/slim";

$button-sizes    : (
    sm: (padding: 7px 15px),
    md: (padding: 9px 15px),
    lg: (padding: 13px 23px),
    sl: (padding: unset),

);

$button-variants : (
    light: $button-light,
    dark: $button-dark,
    accent: $button-accent,
    slim: $button-slim,
);

.button {
  @extend .__flex-center;
  border        : 1px solid transparent;
  border-radius : 8px;
  transition    : background-color var(--transition-default), color var(--transition-default);
  font-size     : 14px;
  font-weight   : 700;
  line-height   : 1.5;
  width         : fit-content;
  column-gap    : map.get($sizes, 2.5);

  svg {
    width      : map.get($sizes, 4);
    height     : map.get($sizes, 4);
    transition : fill var(--transition-default);
  }

  &:disabled {
    opacity : .1
  }

  &:not(:disabled) {
    cursor : pointer
  }

  &:not(:disabled):active {
    transform : translateY(2%)
  }

  @each $size, $styles in $button-sizes {
    &-#{$size} {
      @extend .button;

      @each $style-name, $style-value in $styles {
        #{$style-name}: #{$style-value}
      }
    }
  }

  @each $variant, $states in $button-variants {
    &--#{$variant} {
      @each $state, $styles in $states {
        @if $state == 'default' {
          @each $style-name, $style-value in $styles {
            #{$style-name}: #{$style-value}
          }
        }

        @if $state == 'hover' {
          &:not(:disabled):hover {
            @each $style-name, $style-value in $styles {
              #{$style-name}: #{$style-value}
            }
          }
        }

        @if $state == 'active' {
          &:not(:disabled):active {
            @each $style-name, $style-value in $styles {
              #{$style-name}: #{$style-value}
            }
          }
        }
      }
    }
  }
}