<header class="header">
  <div class="header__main __container">
    {{> logo }}
    <nav class="navigation">
      <ul class="list-reset">
        <li><a href="#">Ссылка1</a></li>
        <li><a href="#">Ссылка2</a></li>
        <li><a href="#">Ссылка3</a></li>
      </ul>
    </nav>
  </div>
</header>